
export SERVICE_NAME="backend-service"
export PORT="8091"
export HOST="localhost"
export SESSIONS_SECRET="s3cr3t"
export DB_NAME="shortlinks"
export DB_USERNAME=""
export DB_PASSWORD=""
export DB_HOST="localhost"
export OWNER="saurshaz@gmail.com"
export SECRET="S3CRET"
export DB_URI="mongodb://127.0.0.1:27017/shortlinks"